ErrorDocument 400 "Error: 400"
ErrorDocument 401 "Error: 401"
ErrorDocument 403 "Error: 403"
ErrorDocument 404 "Error: 404"
ErrorDocument 500 "Error: 500"

RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

Options -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

ServerSignature Off
